# BOAZ 15기 분석 워밍업 과제

BOAZ 15기 분석으로 들어오신 여러분 환영합니다! 

7/16 (목) 본격적인 세션 시작에 앞서, 머리 속 깊은 곳에 있었던 파이썬에 대한 감을 끄집어 내기 위한 워밍업 과제를 준비했습니다!

어렵지 않으니 부담갖지 마시고 편하게 풀어주셨으면 좋겠습니다.

#### 7/16 세션 시작 전까지 네이버카페 분석 base session 과제 카테고리에 업로드해주시기 바랍니다.

### 다음 list를 내림차순으로 정렬해주세요

In [1]:
a = [3,10,7,1,5]

In [2]:
a.sort(reverse=True)

In [3]:
a

[10, 7, 5, 3, 1]

### for문을 사용하여 하나의 정수 n이 주어졌을때, n보다 작은 수들의 합을 출력하는 함수를 작성해주세요

In [4]:
def sumNum(n) :
    sum = 0
    for i in range(n):
        if(i<n):
            sum += i;
    return sum

In [5]:
print(sumNum(3))
print(sumNum(5))

3
10

### 두 행렬의 곱을 출력하는 함수를 작성해주세요

In [6]:
A = [[1,2],[3,4]]
B = [[5,6],[7,8]]

#### sol1) Brute Force Approach

In [7]:
def productMatrix1(A,B) : 
    result = [[0,0],[0,0]]
    # iterating by row of A 
    for i in range (len(A)):
        # iterating by coloum by B 
        for j in range (len(B[i])):
            # iterating by rows of B 
            for k in range (len(B)):
                result[i][j] += A[i][k]*B[k][j]
    
    return result

In [9]:
print(productMatrix1(A,B))

[[19, 22], [43, 50]]

#### sol2) list comprehension 사용

In [10]:
def productMatrix2(A,B) : 
    # result = [[0,0],[0,0]]
    result = [[sum(a*b for a,b in zip(A_row,B_col)) for B_col in zip(*B)] for A_row in A]
    return result

In [11]:
print(productMatrix2(A,B))

[[19, 22], [43, 50]]

#### sol3) numpy 사용

In [12]:
import numpy as np

def productMatrix3(A,B) : 
    # result = [[0,0],[0,0]]
    result = np.dot(A,B).tolist()
    return result

In [13]:
print((productMatrix3(A,B)))

[[19, 22], [43, 50]]

### 2020-2에 활동할 15기 여러분의 기수, 부문, 이름을 추가해주세요

In [14]:
import pandas as pd

In [15]:
boaz_data = {'기수' : [13,14,14,13,14,13], '부문' : ['분석','분석','시각화','분석','시각화','시각화'], '이름' : ['우윤희','강민지','최윤정','민기홍','김진호','김재근']}
df_boaz = pd.DataFrame(boaz_data)

In [16]:
df_boaz

   기수   부문   이름
0  13   분석  우윤희
1  14   분석  강민지
2  14  시각화  최윤정
3  13   분석  민기홍
4  14  시각화  김진호
5  13  시각화  김재근

In [17]:
df_boaz.loc[6] = [15,'분석','김민영']

In [18]:
df_boaz

   기수   부문   이름
0  13   분석  우윤희
1  14   분석  강민지
2  14  시각화  최윤정
3  13   분석  민기홍
4  14  시각화  김진호
5  13  시각화  김재근
6  15   분석  김민영

## 수고하셨습니다 ;)